Flask==3.0.0 # https://pypi.org/project/Flask/
SQLAlchemy==2.0.22 #https://pypi.org/project/SQLAlchemy/
gunicorn==21.2.0 # https://pypi.org/project/gunicorn/
wheel==0.41.3 # https://pypi.org/project/wheel/